/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor
into flexbox */
.container {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
}

.container nav, header, section {
	width: 900px;
	margin: auto;
	padding: 0.5%;
}

nav {
	display: flex;
	justify-content: space-between;
	border: 2px solid red;
}

nav a {
	color: gray;
	text-decoration: none;
	line-height: 36px;
	padding: 1%;
	border: 2px solid blue;
}

.logo {
	vertical-align: top;
}

header {
	margin-top: 37px;
	display: flex;
	justify-content: flex-end;
	border: 2px solid red;
}

header div:first-child {
	width: 379px;
	height: 379px;
	margin-right: 66px;
	border: 2px solid blue;
}

header div h1 {
	text-align: center;
	font-size: 80px;
	padding-top: 48px;
	white-space: pre-line;
	border: 2px solid green;
}

header div:last-child {
	text-align: center;
	width: 47%;
	padding: 2%;
	border: 1px solid black;
	margin: -2% auto;
}
/*
.top-section {
	margin: 45px 0 60px 0;
	padding: 1% 0;
}

.top-section div:first-child {
	width: 50%;
	height: 383px;
	display: inline-block;
}

.top-section div h1 {
	text-align: center;
	padding: 10%;
	font-size: 80px;
	white-space: pre-line;
}

.top-section div:last-child {
	text-align: center;
	width: 40%;
	padding: 2%;
	margin: -10% auto;
	border: 1px solid black;
}

.top-section img {
	vertical-align: top;
	margin-left: 49px;
}

.middle-section {
	margin-bottom: 35px;
	padding: 1% 0;
	width: 100%;
}

.middle-section div:first-child {
	display: inline-block;
	width: 49%;
	padding: 1%;
	padding-left: 0;
}

.middle-section div:nth-child(2) {
	display: inline-block;
	width: 49%;
	margin-left: 13px;
	padding: 1%;
	padding-left: 0;
}

.middle-img {
	margin: 30px 0;
	width: inherit;
}

.middle-section div:nth-child(4) {
	display: inline-block;
	width: 33%;
	padding: 1%;
	padding-left: 0;
}

.middle-section div:nth-child(5) {
	display: inline-block;
	width: 33%;
	padding: 1%;
	padding-left: 0;
}

.middle-section div:last-child {
	display: inline-block;
	width: 33%;
	padding: 1%;
	padding-left: 0;
}

.contact-section {
	width: 25%;
	margin-top: 45px;
}

address p{
	padding-bottom: 15px;
}

footer {
	width: 900px;
	margin: auto;
	padding: 0.5%;
	text-align: center;
}

footer p {
	margin-top: 25px; 
} */
